@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14;
	font-weight: 400;
	background-color: #e7f6ff;
	overflow-x: hidden;
}

.wrapper {
	background: #ffffff;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
	border-radius: 20px;
	max-width: 1080px;
	margin: 50px auto;
}

.icon {
	color: #9b9b9b;
	font-size: 18px;
	margin: 0px 15px 0px 0px;
}

.content {
	h1 {
		margin: 0;
	}
}

.content-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
	gap: 20px;
}

.search-block {
	border: 1px solid #f3f3f3;
	border-radius: 10px;
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 0px 16px;

	position: relative;

	.remove-icon {
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		color: #e4e4e4;
		border: 1px solid #f3f3f3;
	}

	.search-icon {
		color: #e4e4e4;
	}

	input {
		border: none;
		padding: 13px 0px;
		width: 200px;
		&::placeholder {
			color: #c4c4c4;
			font-weight: 400;
			font-size: 14px;
		}
	}
}

// Корзина ------------------------------------
